<footer class="bg-gradient-to-b from-yellow-100 to-pink-100">
    <div class="main-container px-2 mx-auto py-8 mb-8">
        <div class="flex flex-col justify-between items-center">
            <div class="mb-4">
                <a class="flex items-center" href="/">
                    <img width="64.52" height="40" src="https://images.squarespace-cdn.com/content/v1/66d1dd343c0cad3beb7be353/63ba96a1-6a5f-4882-bd3c-29469e05022e/Sempi+logo.png?format=1500w" alt="Italian Trulli">
                </a>
            </div>

            <div class="flex flex-wrap justify-center space-x-4 items-center mb-2 text-sm text-gray-600 hover:text-gray-900 transition-all duration-200">
                <a class="hover:underline mb-2 sm:mb-0" href="https://sempi.ai/">Home</a>
                <a target="_blank" class="text-gray-600 hover:text-gray-900 hover:underline transition-all duration-200 mb-2 sm:mb-0" href="https://sempi.ai/about">About Sempi</a>
                <a target="_blank" class="text-gray-600 hover:text-gray-900 hover:underline transition-all duration-200 mb-2 sm:mb-0" href="https://sempi.ai/careers">Careers</a>
                <a class="text-gray-600 hover:text-gray-900 hover:underline transition-all duration-200 mb-2 sm:mb-0" href="/contact/new">Contact us</a>
            </div>
            <div class="flex flex-wrap justify-center space-x-4 items-center mb-4 text-sm text-gray-600 hover:text-gray-900 transition-all duration-200">
                <a target="_blank" class="text-gray-600 hover:text-gray-900 hover:underline transition-all duration-200 mb-2 sm:mb-0" href="https://sempi.ai/privacy-policy">Privacy policy</a>
                <a target="_blank" class="text-gray-600 hover:text-gray-900 hover:underline transition-all duration-200 mb-2 sm:mb-0" href="https://sempi.ai/terms-of-use">Terms of use</a>
                <a target="_blank" class="text-gray-600 hover:text-gray-900 hover:underline transition-all duration-200 mb-2 sm:mb-0" href="https://sempi.ai/what-items-we-accept">Items we accept</a>
                <a target="_blank" class="text-gray-600 hover:text-gray-900 hover:underline transition-all duration-200 mb-2 sm:mb-0" href="https://sempi.ai/our-fees">Fees &amp; payments</a>
            </div>
        </div>
        <div class="mt-8 pt-4 border-t border-black/20 flex flex-col sm:flex-row justify-between items-center">
            <p class="text-sm text-black/50 mb-2 sm:mb-0">
                © 2024 Sempi. All rights reserved
            </p>
            <div class="flex space-x-4">
                <a href="https://instagram.com/sempi.sell" target="_blank" class="text-black/50 hover:text-black/80 transition-colors duration-200">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.tiktok.com/@sempi.resale" target="_blank" class="text-black/50 hover:text-black/80 transition-colors duration-200">
                    <i class="fab fa-tiktok" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/company/sempi-ai/" target="_blank" class="text-black/50 hover:text-black/80 transition-colors duration-200">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>